<div class="perfil-container">
  <h2>Editar Perfil</h2>
  <form >
    <label for="name">Nombre:</label>
    <input type="text" id="name"  name="name" required />

    <label for="career">Carrera:</label>
    <input type="text" id="career"  name="career" />

    <label for="year">Año Académico:</label>
    <input type="text" id="year"  name="year" />

    <label>
      <input type="checkbox"  name="publicProfile" />
      Perfil Público
    </label>

    <button type="submit">Guardar Cambios</button>
  </form>
</div>
