<div class="perfil-container">
  <h2>Editar Perfil</h2>
  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <label for="name">Nombre:</label>
    <input
      type="text"
      id="name"
      formControlName="name"
      required
    />

    <label for="career">Carrera:</label>
    <input
      type="text"
      id="career"
      formControlName="career"
    />

    <label for="year">Año Académico:</label>
    <input
      type="text"
      id="year"
      formControlName="year"
    />

    <label>
      <input
        type="checkbox"
        formControlName="publicProfile"
      />
      Perfil Público
    </label>

    <button routerLink="/reds/mostrar-perfil" type="submit" [disabled]="profileForm.invalid">
      Guardar Cambios
    </button>
  </form>
</div>
