header {
height: 80px;
margin-bottom: 2rem;
width: 100%;
max-width: 100%;
padding: 0 1rem;
background-color: #3f909b; /* Azul vibrante */
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
transition: background-color 0.3s, box-shadow 0.3s;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
max-width: 1200px;
}

nav a {
font-size: 1.5rem; /* Texto grande */
font-weight: bold;
color: #ffffff; /* Texto blanco */
text-decoration: none;
transition: color 0.3s;
}

button {
color: #ffffff; /* Texto blanco */
background-color: #16a34a; /* Verde vibrante */
font-size: 0.875rem;
font-weight: 500;
padding: 0.625rem 1.25rem;
border: none;
border-radius: 0.5rem;
cursor: pointer;
transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
background-color: #15803d; /* Verde más oscuro */
transform: scale(1.05);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}